body {
font-family: Montserrat, sans-serif;
background-color: #f9f3b9;
margin: 0;
padding: 0;
color: #8c6239;
}
header {
background-color: #e5cd6c;
padding: 20px;
text-align: center;
font-family: "Playfair Display", serif;
color: #8c6239;
}
nav {
background-color: #ae6427;
padding: 10px;
text-align: center;
}
nav a {
margin: 0 15px;
color: #f9f3b9;
text-decoration: none;
font-weight: bold;
}
.section {
padding: 40px;
max-width: 900px;
margin: auto;
}
h1, h2 {
font-family: "Playfair Display", serif;
color: #8c6239;
}
img {
max-width: 100%;
border-radius: 10px;
}
.ranking-list li {
margin-bottom: 10px;
}
.pt-logo {
width: 120px;
border-radius: 50%;
float: left;
}
nav a:hover {
    text-overflow: #f9f3b9 0 0 5px;
    color: #e5cd6c;
    margin: 0 15px;
}